package pages

import (
	"health-monitor/internal/models"
	"health-monitor/internal/views/components"
)

templ DashboardPage(gauges []models.GaugeWithValue) {
	@components.Layout(components.Title("Dashboard")) {
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
			for _, g := range gauges {
				@components.GaugeCard(g.Gauge, g.Value)
			}
		</div>
	}
}
