package pages

import (
	"health-monitor/internal/views/components"
)

templ NewGaugePage() {
	@components.Layout(components.Title("New Gauge")) {
		<div class="container mx-auto px-4 py-8">
			<h1 class="text-2xl font-bold mb-8">Create New Gauge</h1>
			@components.GaugeForm("POST", "/admin/gauges", nil, []components.FormError{})
		</div>
	}
}
