package components

import (
	"fmt"
	"health-monitor/internal/db"
)

templ GaugeInstanceValue(instance *db.GaugeInstance) {
	<div class="gauge-instance-value" id={ fmt.Sprintf("gauge-instance-%d", instance.ID) }>
		<span class="text-2xl font-bold">{ fmt.Sprintf("%d", instance.Value) }</span>
	</div>
}